@CHARSET "utf-8";


table{
margin: auto;
}
body {
background-color:#1E90FF;
/*url(img/images.jpg) no-repeat ;*/
background-size : cover;
}

fieldset{
margin:  auto;
margin-top: 180px;
background-color:#808080;
max-width:550px;
padding:30px;	
border:2px solid ;
-moz-border-radius:;
-webkit-border-radius:;	
border-radius:;	
  
}

legend {
text-align : center;
}

label {
display:block;
width:150px;
float:left;
}

#inscrip {
float: left;
cursor:pointer;
}

input[type="submit"]{
 margin-top : 10px;
 float : right;
 cursor:pointer;
}




