@CHARSET "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lobster);

h1{
text-align:center;
color:#808080;
}
#header
{
/*background: url(img/bandeau.jpg) no-repeat ;
background-size : cover;
top:-140px;
width : 960px;
height:90px;
margin : auto;
position : relative;
background-color : #FFFFFF;*/
height: 90px;
 margin: 0;
 background :#808080 ;
opacity : 0.9;
font-family: cursive;
text-align:center;
}
