@CHARSET "utf-8";

table{
margin: auto;
}
body {
background-color:#eaf1e9;
}
a img {
width : 50px;
height : 50px;
cursor: pointer;
position : absolute;
}

fieldset{
margin:  auto;
margin-top: 180px;
background-color:#79A9FC;
max-width:500px;
padding:16px;	
border:2px solid ;
-moz-border-radius:8px;
-webkit-border-radius:8px;	
border-radius:8px;	
  
}

legend {
text-align : center;
}

label {
display:block;
width:150px;
float:left;
}

input[type="submit"]{
 margin-top : 10px;
 float : right;
 cursor:pointer;
}

input{
transition:1s;
}
input:required,textarea:required{
background:url(img/asterik.png) 98% center no-repeat;
background-color: white;

}

input:focus:invalid,textarea:focus:invalid{
border:1px solid red;
background-image:none;
}
input:focus:invalid + span,textarea:focus:invalid+span{
opacity:1;color:red;
 background:#cecece; 
 border-radius:5px; 
 border:1px solid red; 
 padding:2px; 
 margin-left:5px;
}
input:focus:valid,textarea:focus:valid{
border:1px solid green;
}
input:valid,textarea:valid{
background-image:none;
}
